@import "~@angular/material/theming";
@import "~src/assets/breakpoints";
@import "~src/assets/layout";

.navbar {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  align-items: center;
  background-color: white;
  color: $dark-primary-text;
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &__links {
    display: none;
    margin-left: 25px;

    @include laptop {
      display: flex;
    }
  }

  &__link {
    margin-left: 25px;
  }

  &__link.active {
    text-decoration: underline;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
