.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  background: white;
  width: 500px;
  padding: 30px 100px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);

  > * {
    width: 100%;
  }

  button {
    margin: 15px 0;
    height: 50px;
  }

  mat-icon {
    cursor: pointer;
  }

  .header {
    margin-top: 0;
    font-size: 1.4rem;
    text-align: center;
    opacity: .5;
  }

  .divider {
    height: 1px;
    background-color: rgb(0, 0, 0, 0.3);
    margin: 10px 0;
  }

  .footer {
    width: 100%;
  }

  .footer div {
    float: left;
  }

  .footer a {
    float: right;
  }

}
