@import "src/assets/layout";

.creator {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &__header {
    margin-top: 30px;
  }

  &__products-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    margin-top: 15px;
  }

  &__add-to-cart {
    align-self: center;
    margin-top: 30px;
  }
}
