@import "~@angular/material/theming";

:host {
  height: 100%;
}

.admin {
  display: flex;
  height: 100%;

  &__sidenav-container {
    background-color: transparent;
    height: 100%;
  }

  &__sidenav {
    background-color: map-get($mat-gray, 900);
    border-right: none;
  }

  &__sidenav-content {
    flex-grow: 1;
    background-color: rgba(map-get($mat-blue-gray, 50), 0.5);
    padding-right: 15px;
  }

  &__nav {
    padding-top: 0;
  }

  &__nav-route.mat-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:hover {
      background-color: map-get($mat-blue, 400);
    }
  }

  &__nav-route--active {
    background-color: map-get($mat-blue, 700);
  }
}
