.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 5px
    }

    p {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.4rem;
      margin: 10px 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 30px;
    }
  }

  &__price {
    text-align: right;
    font-size: 1.4rem;
    margin: 10px 0;
  }

  &__quantity {
    width: 60px;
    margin-right: 30px;
    display: flex;
    flex-direction: column-reverse;
  }

  &__quantity-select {
    bottom: -1.34375em;
  }
}
