@import "src/assets/layout";

.products {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &__header {
    margin-top: 30px;
  }

  &__listing {
    display: flex;
    flex-direction: row;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 100%;
    margin-left: 15px;
  }

  &__list-item {

  }
}
