%center-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cart-list-item {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin: 30px 0;

  &__img {
    height: 100%;
    width: auto;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0px rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12)
  }

  &__banner {
    width: 100%;
    border-radius: 3px 0 3px;
    display: flex;
    flex-direction: row;
  }

  &__banner-info {


    .product-name {
      overflow: hidden;
      font-size: 1.1rem;
    }

    .producer {
      opacity: .4;
      font-size: .8rem;
      margin: 10px 0;
    }
  }

  &__banner-price {
    width: 60%;
    @extend %center-end;
    span {
      margin-right: 15px
    }
  }

  &__banner-btn {
    @extend %center-end;
    width: 20%;
    margin-left: auto;

    .mat-icon {
      cursor: pointer;
    }
  }

}

