@import "~@angular/material/theming";

.product-selector-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-selector {
  display: flex;
  height: 100%;
}

.products-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    margin-top: 15px;

    & .mat-divider {
      margin-top: 15px;
    }

    &:last-of-type {
      & .mat-divider {
        display: none;
      }
    }
  }
}


.product {
  display: flex;

  &__image {
    max-width: 125px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
  }

  &__name {
    font-size: 20px;
  }

  &__description {
    margin-top: 20px;
    font-size: 16px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  &__price {
    margin-top: 20px;
  }

  &__button {
    margin-top: 20px;
  }

  &__properties {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &__property {
    display: flex;

    &:nth-child(2n) {
      background-color: map-get($mat-gray, 100);
    }
  }

  &__property-name {
    flex: 2;
    flex-shrink: 0;
    text-align: end;
  }


  &__property-value {
    flex: 2;
    flex-shrink: 0;
  }


  &__property-divider {
    flex-basis: 10px;
  }
}
