:host {
  height: 100%;
}

.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__divider {
    height: 1px;
    margin: 20px 0;
    background-color: rgb(0, 0, 0, 0.3);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
