@import "src/assets/layout";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product-management {
  width: 100%;
  max-width: $max-width;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    padding-left: 15px;
  }

  &__list-item {
    margin-top: 15px;
  }

  &__add-item-form {
    background-color: red !important;
    width: 600px;
  }
}
