.recommended-products {
  display: grid;
  grid-auto-flow: column;
  align-items: stretch;
  justify-items: flex-start;
  grid-gap: 15px;
  overflow: auto;
  padding: 5px;

  &__item {
    width: 250px;
  }
}
