@import "src/assets/layout";

.products {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &__header {
    margin-top: 30px;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__list-cards{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-right: 60px;
  }

}
