@import "~@angular/material/theming";

.product {
  display: flex;
  position: relative;

  &--incompatible {
    filter: blur(3px);
  }

  &__image {
    max-width: 125px;
    height: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
  }

  &__name {
    font-size: 20px;
  }

  &__description {
    margin-top: 20px;
    font-size: 16px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
  }

  &__price {
    margin-top: 20px;
  }

  &__button {
    margin-top: 20px;
  }

  &__properties {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &__property {
    display: flex;

    &:nth-child(2n - 1) {
      background-color: map-get($mat-gray, 100);
    }
  }

  &__property-name {
    flex: 2;
    flex-shrink: 0;
    text-align: end;
  }


  &__property-value {
    flex: 2;
    flex-shrink: 0;
  }


  &__property-divider {
    flex-basis: 30px;
  }

}
